        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

        .content {
            transition: transform 1s ease-in;
        }

        .content-box {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5vw;
        }

        .nav-box {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 50%;
            left: 2vw;
        }

        .nav-box>span {
            width: 0.6vh;
            height: 0.6vh;
            border-radius: 50%;
            background-color: #080808;
            margin: 0.4vw 0;
        }

        .nav-box>.active {
            width: 1vh;
            height: 1vh;
            position: relative;
            left: -20%;
            transition: all .6s;
        }

        .content-title {
            width: 120px;
            margin-left: 3vw;
        }

        .content-title>span {
            font-size: 30px;
            font-weight: 900;
        }

        .content-title>.content-text>p {
            margin-top: 3vh;
            font-size: 15px;
        }

        .content-title>.content-text>span {
            display: block;
            font-size: 40px;
            font-weight: 900;
            margin: 0.3vh 0 2vh 0;
        }

        .content-footer>span {
            font-size: 10px;
        }

        .pic {
            width: 380px;
            height: 380px;
            margin-right: 10vw;
        }

        .pic>img {
            width: 100%;
            height: 100%;
        }